<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <p>Λίστα προϊόντων</p>
        <table style="width:100%">
            <tr>
                <th>Προϊόν</th>
                <th>Αποτέλεσμα</th>
                <th></th>
                <th></th>
            </tr>
            {% for product in productList %}
            <tr>
                <th>{{ product.name}}</th>
                <th>{{ product.result}}</th>
                <th><button>Επεξεργασία</button></th>
                <th><button>Διαγραφή</button></th>
            </tr>
        {% endfor %}
        </table>
</html>