<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <p>Λίστα προϊόντων</p>
        <table class="comp-table" style="width:100%">
            <tr>
                <th>Προϊόν</th>
                <th>Αποτέλεσμα</th>
                <th></th>
                <th></th>
            </tr>
            {% for product in productList %}
            <tr>
                <td>{{ product.name}}</td>
                <td>{{ product.result}}</td>
                <td><button>Επεξεργασία</button></td>
                <td><button>Διαγραφή</button></td>
            </tr>
        {% endfor %}
        </table>
</html>